@import url("https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:400,700&display=swap");

:root {
  --red: hsl(0, 100%, 68%);
  --veryDarkBlue: hsl(230, 29%, 20%);
  --darkGrayishBlue: hsl(230, 11%, 40%);
  --grayishBlue: hsl(231, 7%, 65%);
  --lightGrayishBlue: hsl(207, 33%, 95%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Barlow Condesed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}
.header__nav__list {
  display: none;
}
.main {
  overflow: hidden;
}
.main__img {
  padding: 2em 0;
  width: 150%;
}
.main__text {
  padding: 1.5em 2em 3em 1.5em;
}
.main__subtitle {
  padding: 0.5em 0;
}
.main__subtitle__tag {
  background-color: var(--veryDarkBlue);
  border-radius: 30px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.1em;
  padding: 0.2em 0.2em 0.2rem 0.6rem;
  text-align: center;
}
.main__subtitle__description {
  color: var(--grayishBlue);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-left: 0.8em;
  text-transform: uppercase;
}
.main__subtitle__description--mod {
  font-size: 0.8rem;
}
.main__title {
  color: var(--veryDarkBlue);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5em 0;
}
.main__description {
  color: var(--darkGrayishBlue);
  font-family: "Barlow", sans-serif;
  padding: 0 2em 1.5em 0;
}
.main__action {
  align-items: center;
  display: flex;
  font-size: 0.7em;
  justify-content: flex-start;
}
.main__action__btn {
  background-color: var(--red);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-right: 0.5em;
  padding: 0.8em 1.5em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    overflow: hidden;
    padding: 0em 0 0 7.5em;
    width: 100%;
  }
  .header {
    margin: 0 auto;
    width: 80%;
  }
  .header__hamb {
    display: none;
  }
  .header__nav__list:nth-child(-n + 3) {
    color: var(--veryDarkBlue);
  }
  .header__nav__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 25rem;
  }
  .header__link {
    color: var(--veryDarkBlue);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header__nav__link__login {
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: var(--grayishBlue);
  }
  i {
    color: var(--grayishBlue);
    font-size: 5px;
  }
  .main {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
  }
  .main__img__container {
    width: 60%;
  }
  .main__text {
    padding-top: 0;
    width: 40%;
  }
  .main__img {
    height: 100%;
    object-fit: none;
    object-position: 60% 50%;
    padding: 0;
  }
  .main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
  }
  .main__title {
    font-size: 3.7rem;
  }
  .main__description {
    padding-right: 5em;
  }
  .main__subtitle__description {
    font-size: 1rem;
  }
  .background {
    position: relative;
  }
  .background__box {
    background-color: var(--lightGrayishBlue);
    border-radius: 50px;
    height: 700px;
    position: absolute;
    right: 0px;
    top: -980px;
    width: 660px;
    z-index: -1;
  }
}
